n8n/n8n-workflow.json
{
  "name": "SyncStudy Focus Success Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "focus-success",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:4000/api/notifications/confirm/check",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "eventId",
              "value": "={{ $json.eventId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dedupe-check",
      "name": "Dedupe Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isProcessed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-already-processed",
      "name": "If Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/notifications/mock-sink",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventId\": \"{{ $node[\"Webhook Trigger\"].json.eventId }}\",\n  \"sessionId\": \"{{ $node[\"Webhook Trigger\"].json.sessionId }}\",\n  \"studentId\": \"{{ $node[\"Webhook Trigger\"].json.studentId }}\",\n  \"streak\": {{ $node[\"Webhook Trigger\"].json.streak }},\n  \"coins\": {{ $node[\"Webhook Trigger\"].json.coins }},\n  \"message\": \"{{ $node[\"Webhook Trigger\"].json.message }}\"\n}",
        "options": {}
      },
      "id": "mock-sink",
      "name": "Mock Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/notifications/confirm",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventId\": \"{{ $node[\"Webhook Trigger\"].json.eventId }}\",\n  \"status\": \"processed\",\n  \"providerResponse\": {\n    \"delivered\": true\n  }\n}",
        "options": {}
      },
      "id": "confirm-sent",
      "name": "Confirm Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "No-Op (Already Processed)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Dedupe Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Check": {
      "main": [
        [
          {
            "node": "If Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already Processed?": {
      "main": [
        [
          {
            "node": "No-Op (Already Processed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Sink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Sink": {
      "main": [
        [
          {
            "node": "Confirm Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {}
}
